body {
  font-family: "Hoefler Text";
  background-color:rgb(89,45,145);
}

a {
  color:white;
}

h1 {
  font-style:italic;
  color:lavender;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.block {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#display {
  background-color: rgb(41,210,161);
  color: black;
  padding: 15px;
  width: 300px;
  text-align: right;
  font-size: 20px;
}

.calc {
  display: flex;
  justify-content:center;
}

.MuiList-dense {
  border-style: inset;
  background-color: rgb(41,210,161);
}

#results{
   margin-left:5cm;
   margin-top: 0;
   margin-bottom: 1cm;
}

#header {
  text-align: center;
}

#calculator {
  margin-top: 1.5cm;
  background-color:rgb(255,249,237);
}

.welcome {
  display: flex;
  flex-direction:column;
  align-items: center;
  color: lavender;
  border-style: inset;
}
